# Ignore compiled files
*.o
*.out
*.exe

# Ignore temporary files
*~

# Ignore log files
*.log

# Ignore environment-specific files
.env

# Ignore dependency directories
/node_modules
/vendor
/dist
/src


# Ignore system files
.DS_Store
Thumbs.db

# Ignore Yarn lock file
yarn.lock
